@charset "ISO-8859-1";
body{
      background: #B8850B;
      padding-top: 30px;
    }
.main-section{
	padding: 15px;
	background:#f1f1f1;
}
.custom-file-control::after {
  content: "Choose file...";
}
.custom-file-control::before {
  content: "Browse";
}